body{
    background-color: #f5f5f5;
}
header{
   /* background-color: #47C943;*/
    height: 80px;
    padding: 20px;
}
#title{
    background-color: white
}
.title{
    background-color: #FF8833
}
/* #1 two colums layout*/
.col-left{
    width: 50%;
    float: left;
}
.col-right{
    width: 50%;
    float: left;
}
.profile-card{
    max-width: 800px;
    height: 500px;
    background-color: transparent;
    border-radius: 15px;
}
.profile-card .card-header{
    padding:20px;
    background-color: #3FBE50;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.profile-card .card-header h2{
    color: white;
}
.image-wrapper{
    border-style: solid;
    border-width: 4px;
    border-color: white;
    display: inline-block;
    width: 150px;
    height: 150px;
}
.image-wrapper .profile{
    width: 100%;
    height: 100%;
}
.card-shadow{
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.5);
}
.text-center{
    text-align: center;
}
.padding{
    padding: 20px;
}
